In [1]:
# Uso del Pip install para poder importar la librería faker
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-16.8.1-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 13.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-16.8.1

In [2]:
# Importar librería pandas para manejar y analizar datos
import pandas as pd
# Importar librería uuid para crear identificadores únicos.
import uuid
# Importar librería random para generar datos aleatorios.
import random
# Importar el paquete faker para generar datos fasos.
from faker import Faker

In [3]:
# Delimitación del rango del número de elementos.
num_parametro = 5000

In [4]:
# Una lista de 3 características de la entidad parametro
features = [
    "var_id_par",
    "var_descripcion_par",
    "var_decreto_par",
    "var_status_par"
]
# Creación de un DF para estas características
df = pd.DataFrame(columns=features)

In [5]:
# Generar identificadores para cada parametro
def idm_gen(n):
    """
    Función que se encarga de crear un id unico con nomenclatura básica
    ...
    
    Parametros
    ----------
    n : int
        representa el numero de indice correspondiente al registro
    
    Return
    ------
    "MSL--"+str(n+1) : str
        nomenclatura única de identificación del parametro correspondiente
    """
    return "PRMT "+str(n+1)

In [6]:
df['var_id_par'] = [idm_gen(i) for i in range(num_parametro)]

In [7]:
# Decreto del parametro
Decreto_par = ["Ley DoD", "Ley Nasa"]

In [8]:
df['var_decreto_par'] = random.choices(
    Decreto_par, 
    weights=(45,55), 
    k=num_parametro
)
"""
Con la lista generada de las opciones de decreto_par, se proporciona la función de opciones
pesos para cada función y la cantidad de opciones hacer representadas por "k".
Por consiguiente, se asignó al atributo de "decreto_par" del marco de datos.
"""

'\nCon la lista generada de las opciones de decreto_par, se proporciona la función de opciones\npesos para cada función y la cantidad de opciones hacer representadas por "k".\nPor consiguiente, se asignó al atributo de "decreto_par" del marco de datos.\n'

In [9]:
# Descripción del proveedor
import string
import random
bio=[]
length_of_string = 20
random.seed()
for i in range(0, num_parametro):
  bio=(''.join(random.SystemRandom().choice(string.ascii_letters + string.digits) for i in range(length_of_string)))
  df.var_descripcion_par[i] =bio

In [10]:
#Arreglo con estados del parametro
status = [
    "Activo",
    "Inactivo"
]

In [11]:
# Determinar un estado para cada rol
def Status_par():
    """
    Función que toma un estado de forma aleatoria
    ...
    
    Return
    ------
    random.choice(status) : str
        seleccion de estados usando metodo choice de la libreria random
    """
    return random.choice(status)

In [12]:
df['var_status_par'] = [Status_par() for i in range(num_parametro)]

In [13]:
# Guardar el conjunto de datos
df.to_csv('dataset_parametro.csv')

In [14]:
# Mostrar el conjunto de datos
pd.read_csv('dataset_parametro.csv', index_col=0)

     var_id_par   var_descripcion_par var_decreto_par var_status_par
0        PRMT 1  B76y0ojD9dDmnzTfMwbg        Ley Nasa         Activo
1        PRMT 2  jSyoOSdA2OZ9xHINPsvc         Ley DoD         Activo
2        PRMT 3  95iscwiDM1ewrjtPcfNz        Ley Nasa       Inactivo
3        PRMT 4  hvyNUMDz7a3vrDuqTbxn        Ley Nasa       Inactivo
4        PRMT 5  T9Tm1Igis8IYxYBUpryP        Ley Nasa         Activo
...         ...                   ...             ...            ...
4995  PRMT 4996  IgQZS0TksF0fBI0nt2aR         Ley DoD         Activo
4996  PRMT 4997  4ipg1fC9Ol6c3HIW6N9h        Ley Nasa       Inactivo
4997  PRMT 4998  JJDy668OTpG1M34iVnoo         Ley DoD       Inactivo
4998  PRMT 4999  VJzmH8mpqlStzgFacSWn        Ley Nasa         Activo
4999  PRMT 5000  ti9MSD8OzcdSzpysUA0R         Ley DoD       Inactivo

[5000 rows x 4 columns]