# Conjunto de datos para la entidad "Administrador"

In [1]:
# Uso del Pip install para poder importar la librería faker
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-16.8.1-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 17.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-16.8.1

In [2]:
# Importar librería pandas para manejar y analizar datos
import pandas as pd
# Importar librería uuid para crear identificadores únicos.
import uuid
# Importar librería random para generar datos aleatorios.
import random
# Importar el paquete faker para generar datos fasos.
from faker import Faker

In [3]:
# Delimitación del rango del número de elementos.
num_administrador = 1500

In [4]:
# Una lista de 2 características de la entidad administrador
features = [
    "var_id_per",
    "nbr_num_proyectos_realizados"
]
# Creación de un DF para estas características
df = pd.DataFrame(columns=features)

In [5]:
# Generar un identificador para cada  miembro del personal
def idm_gen(n):
    """
    Función que se encarga de crear un id unico con nomenclatura básica
    ...
    
    Parametros
    ----------
    n : int
        representa el numero de indice correspondiente al registro
    
    Return
    ------
    "PRS "+str(3500+(n+1)) : str
        nomenclatura única de identificación del personal correspondiente
    """
    return "PRS "+str(3500+(n+1))

In [6]:
df['var_id_per'] = [idm_gen(i) for i in range(num_administrador)]

In [7]:
# Cantidad de piezas
def cantidad_gen():
    """
    Función para crear la cantidad
    ...
   
    Return
    ------
   random.randint(15,30)) : int
        se crea un entero entre 15 a 30
    """
    return random.randint(15,30)

In [8]:
df['nbr_num_proyectos_realizados'] = [cantidad_gen() for i in range(num_administrador)]

In [9]:
# Guardar el conjunto de datos
df.to_csv('dataset_administrador.csv')

In [10]:
# Mostrar el conjunto de datos
pd.read_csv('dataset_administrador.csv', index_col=0)

     var_id_per  nbr_num_proyectos_realizados
0      PRS 3501                            15
1      PRS 3502                            16
2      PRS 3503                            18
3      PRS 3504                            24
4      PRS 3505                            18
...         ...                           ...
1495   PRS 4996                            23
1496   PRS 4997                            30
1497   PRS 4998                            20
1498   PRS 4999                            19
1499   PRS 5000                            16

[1500 rows x 2 columns]