# Conjunto de datos para la entidad "Técnico"

In [1]:
# Uso del Pip install para poder importar la librería faker
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-16.8.1-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 14.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-16.8.1

In [2]:
# Importar librería pandas para manejar y analizar datos
import pandas as pd
# Importar librería uuid para crear identificadores únicos.
import uuid
# Importar librería random para generar datos aleatorios.
import random
# Importar el paquete faker para generar datos fasos.
from faker import Faker

In [3]:
# Delimitación del rango del número de elementos.
num_tecnico = 1500

In [4]:
# Una lista de 7 características de la entidad personal
features = [
    "var_id_per",
    "nbr_horas_experiencia"
]
# Creación de un DF para estas características
df = pd.DataFrame(columns=features)

In [5]:
# Generar un identificador para cada  miembro del personal
def idm_gen(n):
    """
    Función que se encarga de crear un id unico con nomenclatura básica
    ...
    
    Parametros
    ----------
    n : int
        representa el numero de indice correspondiente al registro
    
    Return
    ------
    "MSL--"+str(n+1) : str
        nomenclatura única de identificación del personal correspondiente
    """
    return "PRS "+str(2000+(n+1))

In [6]:
df['var_id_per'] = [idm_gen(i) for i in range(num_tecnico)]

In [7]:
# Cantidad de piezas
def cantidad_gen():
    """
    Función para crear la cantidad
    ...
   
    Return
    ------
   random.randint(1,500)) : int
        se crea un entero entre 1 a 500
    """
    return random.randint(200,350)

In [8]:
df['nbr_horas_experiencia'] = [cantidad_gen() for i in range(num_tecnico)]

In [9]:
# Guardar el conjunto de datos
df.to_csv('dataset_tecnico.csv')

In [10]:
# Mostrar el conjunto de datos
pd.read_csv('dataset_tecnico.csv', index_col=0)

     var_id_per  nbr_horas_experiencia
0      PRS 2001                    269
1      PRS 2002                    257
2      PRS 2003                    248
3      PRS 2004                    266
4      PRS 2005                    257
...         ...                    ...
1495   PRS 3496                    282
1496   PRS 3497                    288
1497   PRS 3498                    259
1498   PRS 3499                    248
1499   PRS 3500                    318

[1500 rows x 2 columns]