In [6]:
# Uso del Pip install para poder importar la librería faker
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: faker in /usr/local/lib/python3.8/dist-packages (16.8.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [7]:
# Importar librería pandas para manejar y analizar datos
import pandas as pd
# Importar librería uuid para crear identificadores únicos.
import uuid
# Importar librería random para generar datos aleatorios.
import random
# Importar el paquete faker para generar datos fasos.
from faker import Faker
# Importar la librería datetime para manejar fechas.
import datetime
from datetime import date

In [8]:
# Delimitación del rango del número de elementos.
num_rol = 5000

In [9]:
#Instanciación faker
faker = Faker()

In [10]:
# Una lista de 4 características para la entidad rol
atributos = [
    "var_id_rol",
    "var_nombre_rol",
    "dt_fecha_asigna_rol",
    "var_status_rol" 
]

In [11]:
#Arreglo con nombres de roles
nombre =[
    "Operador",
    "Ensamblador",
    "Analista",
    "Programador",
    "Tester",
    "Ayudante"
]

In [12]:
#Arreglo con estados del rol
status = [
    "Activo",
    "Inactivo"
]

In [13]:
# Creación de un DF para las 4 características de la entidad rol
df = pd.DataFrame(columns = atributos)

In [14]:
# Generar un identificador para cada rol
def idr_gen(n):
    """
    Función que se encarga de crear un id unico con nomenclatura básica
    ...
    
    Return
    ------
    "ROL-"+str(n+1) : str
        id generado con nomenclatura
    """
    return "ROL "+str(n+1) # id para rol

In [15]:
#Generacion de datos en cada atributo
df['var_id_rol'] = [idr_gen(i) for i in range(num_rol)]

In [16]:
# Generar un nombre para cada rol
def nombre_gen():
    """
    Función que toma de forma aleatoria un nombre de rol de su respectiva lista
    ...
    
    Return
    ------
    random.choice(nombre) : str
        nombre de rol seleccionado aleatoriamente
    """
    return random.choice(nombre)

In [17]:
df['var_nombre_rol'] = [nombre_gen() for i in range(num_rol)]

In [18]:
# Determinar un estado para cada rol
def status_gen():
    """
    Función que toma un estado de forma aleatoria
    ...
    
    Return
    ------
    random.choice(status) : str
        seleccion de estados usando metodo choice de la libreria random
    """
    return random.choice(status)

In [19]:
df['var_status_rol'] = [status_gen() for i in range(num_rol)]

In [25]:
# Determinar una fecha de asignación de rol para cada registro
def fechAsg_gen():
    """
    Función que genera la fecha de asignación del rol
    ...
    
    Return
    ------
    faker.date_between('-4y') : obj datetime.date
        Usa libreria faker para generar fechas entre 2 años antes a la fecha actual
    """
    return faker.date_between('-4y')

In [26]:
df['dt_fecha_asigna_rol'] = [fechAsg_gen() for i in range(num_rol)]

In [27]:
#Descarga de datos en archivo .cvs
df.to_csv('dataset_Roles.csv')

In [28]:
# Mostrar el conjunto de datos
pd.read_csv('dataset_Roles.csv', index_col=0)

     var_id_rol var_nombre_rol dt_fecha_asigna_rol var_status_rol
0         ROL 1    Ensamblador          2021-01-11         Activo
1         ROL 2       Analista          2022-06-26       Inactivo
2         ROL 3    Programador          2021-12-25       Inactivo
3         ROL 4       Ayudante          2019-06-29         Activo
4         ROL 5       Ayudante          2019-02-14       Inactivo
...         ...            ...                 ...            ...
4995   ROL 4996    Programador          2020-07-06       Inactivo
4996   ROL 4997         Tester          2020-12-15       Inactivo
4997   ROL 4998       Analista          2020-05-15         Activo
4998   ROL 4999       Operador          2022-04-01       Inactivo
4999   ROL 5000         Tester          2021-06-24         Activo

[5000 rows x 4 columns]