# Conjunto de datos para la entidad "Proveedor"

In [1]:
# Uso del Pip install para poder importar la librería faker
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-16.8.1-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 21.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-16.8.1

In [2]:
# Importar librería pandas para manejar y analizar datos
import pandas as pd
# Importar librería uuid para crear identificadores únicos.
import uuid
# Importar librería random para generar datos aleatorios.
import random
# Importar el paquete faker para generar datos fasos.
from faker import Faker

In [3]:
# Delimitación del rango del número de elementos.
num_proveedor = 5000

In [4]:
# Una lista de 7 características para la entidad proveedor
features = [
    "var_id_pro",
    "var_nombre_pro",
    "var_tipo_pro",
    "var_email_pro",
    "var_telefono_pro",
    "var_descripcion_pro",
    "var_status_pro"
]
# Creación de un DF para estas características
df = pd.DataFrame(columns=features)

In [5]:
def idm_gen(n):
    """
    Función que se encarga de crear un id unico con nomenclatura básica
    ...
    
    Parametros
    ----------
    n : int
        representa el numero de indice correspondiente al registro
    
    Return
    ------
    "MSL--"+str(n+1) : str
        nomenclatura única de identificación del proveedor correspondiente
    """
    return "PRO "+str(n+1)

In [6]:
df['var_id_pro'] = [idm_gen(i) for i in range(num_proveedor)]

In [7]:
# Tipo de Proveedor
tipo_pro = ["Electronics",
            "Chemistry",
            "na"]

In [8]:
df['var_tipo_pro'] = random.choices(
    tipo_pro, 
    weights=(35,35,30), 
    k=num_proveedor
)
"""
Con la lista generada de las opciones de tipos de proveedor, se proporciona la
función de opciones pesos para cada función y la cantidad de opciones hacer representadas
por "k". Por consiguiente, se asignó al atributo de "tipo_pro" del marco de datos.
"""

'\nCon la lista generada de las opciones de tipos de proveedor, se proporciona la\nfunción de opciones pesos para cada función y la cantidad de opciones hacer representadas\npor "k". Por consiguiente, se asignó al atributo de "tipo_pro" del marco de datos.\n'

In [9]:
# Nombre del Proveedor
# Creación de instancias de falsificador
faker = Faker()

def name_gen(guy):
    """
    Genera rápidamente un nombre del proveedor
    """
    faker.company()
    
    return faker.company()
    
# Generación de nombres para cada proveedor
df['var_nombre_pro'] = ['Company '+name_gen(i) for i in df['var_nombre_pro']]

In [10]:
# Email del proveedor
def emailGen(name, duplicateFound=False):
    """
    Genera una dirección de correo electrónico aleatoria basada en el nombre dado. 
    Agrega un número al final si se encontró una dirección duplicada.
    """
    # Nombre de dominio falso para usar
    dom = "@pymes.com"
    
    # Mayúsculas y minúsculas
    name = name.lower().split(" ")
    
    # Carácter aleatorio para insertar en el nombre
    chars = [".", "_"]
    
    new_name = name[0] + random.choice(chars) + name[1] 
    
    # Distinguir aún más el correo electrónico si se encontró un duplicado
    if duplicateFound:
        
        # Número aleatorio para insertar al final
        num = random.randint(0,100)
        
        # Insertar al final
        new_name = new_name + str(num)
        
    # Devolver la dirección de correo electrónico con el nombre de dominio adjunto
    return new_name + dom

In [11]:
emails = []

for name in df['var_nombre_pro']:
    
    # Generación del correo electrónico
    email = emailGen(name)
    
    # Bucle hasta que se genere un correo electrónico único
    while email in emails:
        
        # Crear un correo electrónico con un número aleatorio
        email = emailGen(name, duplicateFound=True)
    
    # Adjuntar el nuevo correo electrónico a la lista
    emails.append(email)
    
df['var_email_pro'] = emails

In [12]:
# Número de Teléfono del proveedor
# import module
import random as r
from random import seed
from datetime import datetime
num=[]
size = 10

for i in range(0, num_proveedor):
  random.seed(datetime.now())
  valores = [0,1,2,3,4,5,6,7,8,9]
  num=(''.join([str(random.choice(valores)) for i in range(size)]))
  df.var_telefono_pro[i]=num

In [13]:
# Descripción del proveedor
import string
import random
bio=[]
length_of_string = 20
for i in range(0, num_proveedor):
  random.seed(datetime.now())
  bio=(''.join(random.SystemRandom().choice(string.ascii_letters + string.digits) for i in range(length_of_string)))
  df.var_descripcion_pro[i] =bio

In [14]:
# Estado del proveedor
Status_pro = ["Activo", "Inactivo"]

In [15]:
df['var_status_pro']= random.choices(
    Status_pro, 
    weights=(45,55), 
    k=num_proveedor
)
"""
Con la lista generada de las opciones de estados, se proporciona la
función de opciones pesos para cada función y la cantidad de opciones hacer representadas
por "k". Por consiguiente, se asignó al atributo de "Status_pro" del marco de datos.
"""

'\nCon la lista generada de las opciones de estados, se proporciona la\nfunción de opciones pesos para cada función y la cantidad de opciones hacer representadas\npor "k". Por consiguiente, se asignó al atributo de "Status_pro" del marco de datos.\n'

In [16]:
# Guardar el conjunto de datos
df.to_csv('dataset_proveedor.csv')

In [17]:
pd.read_csv('dataset_proveedor.csv', index_col=0)

,var_id_pro,var_nombre_pro,var_tipo_pro,var_email_pro,var_telefono_pro,var_descripcion_pro,var_status_pro
0,PRO 1,Company Lopez-Young,Chemistry,company.lopez-young@pymes.com,2010924626,WPjBoubIDyllDdLCZVVu,Activo
1,PRO 2,Company Morales-Arnold,na,company_morales-arnold@pymes.com,9416462579,bOOYnIEDwIAzUGsefA47,Activo
2,PRO 3,Company Reed Group,na,company.reed@pymes.com,7643294527,TrBAry6Z3ivE7hifDdZc,Activo
3,PRO 4,Company Mckee-Perez,na,company.mckee-perez@pymes.com,2386300471,osVNxQJSJd8MdKe8ZMBZ,Activo
4,PRO 5,Company Garrett Group,Chemistry,company_garrett@pymes.com,8879735570,X3DRrBZ66thx6HewwUIN,Activo
...,...,...,...,...,...,...,...
4995,PRO 4996,"Company Miller, Lee and King",na,"company_miller,98@pymes.com",8854898993,S9Ss85eytTb6Q2fww3sx,Inactivo
4996,PRO 4997,"Company Munoz, Valdez and Stone",Electronics,"company_munoz,@pymes.com",8892163599,7lGKeSmyVdWTCSEyLIM3,Activo
4997,PRO 4998,"Company Sparks, Mendoza and Wagner",Electronics,"company_sparks,40@pymes.com",5133133926,0zimuJTZ5Oy7ArVBe7LL,Inactivo
4998,PRO 4999,Company Rodriguez LLC,na,company_rodriguez25@pymes.com,5591950421,cPA0RJDDJlb8WmEnhdSR,Inactivo
4999,PRO 5000,Company Lee-Williams,na,company.lee-williams@pymes.com,4363059760,WYyQl8ICYarGEa2tQyEU,Inactivo